{% extends "base.html" %}

{% block title %}
    {{ block.super }} - {{ question.title }}
{% endblock %}

{% block content %}
    <h1>{{ question.title }}</h1>
    <div class="question_details">
        <p>Автор: {{ question.author }}</p>
        <p>Вопрос: {{ question.text }}</p>
        <p>Время: {{ question.added_at }}</p>
        <p>Рейтинг: {{ question.rating }}</p>
        <div class="likes">
            <p>Понравилось:
            {% for like in question.likes.all %}
                {{ like }},
            {% endfor %}
            </p>
        </div>
        <div class="comments">
            {% for answer in answers %}
                <p>Автор комментария: {{ answer.author }}</p>
                <p>Комментарий: {{ answer.text }}</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
