<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">

    {% load staticfiles %}

    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}"/>
        <meta charset="UTF-8">

        <title>{% block title %}Polls{% endblock %}</title>
        {% block extrahead %}{% endblock %}
    </head>

    <body>
        <div>
            <h1><a href="{% url 'polls:index' %}">Главная</a></h1>
        </div>

        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>

    </body>
</html>